spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  application:
    name: home-microservice
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/services_home}
    username: ${SPRING_DATASOURCE_USERNAME:karenyulier}
    password: ${SPRING_DATASOURCE_PASSWORD:12345678}
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: ${SERVER_PORT:8082}

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
  instance:
    instance-id: ${spring.application.name}:${random.uuid}


home360:
  file:
    upload-dir: ./uploads/property-images
    base-url: /media/properties

